.npmignore
.github
.bithoundrc
bower.json
gulpfile.js
jsconfig.json
settings.js
settings.example.js
tsconfig.json
tslint.json
typings.json
.vscode/
coverage/
server-root/
src/
typings/
tests/
buildtasks/
build/
docs/
typedoctheme/